.login {
  position: fixed;
  top: 23vh;
  left: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3px solid rgb(208, 204, 204);
  border-radius: 10px;
  padding: 40px 110px;
  background-color: #bca161;
}

.login h3 {
  margin-bottom: 15px;
  color: whitesmoke;
}

.loginInput {
  margin: 10px;
  border: 0.3px solid rgb(208, 204, 204);
  border-radius: 5px;
  height: 38px;
  width: 240px;
}

.loginButton {
  background-color: #a4b83f;
  color: whitesmoke;
  border: 0.3px solid #a4b83f;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px grey;
}

.loginButton:hover {
  opacity: 0.5;
}

.toRegistration {
  margin: 10px;
  color: #a4b83f;
}
