.nav {
  /* background-color: #ad7e0e; */
  background-color: #bca161;
  padding: 10px 0;
}

.nav hr {
  margin: 0 0 5px 0;
}

.navHeader {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: whitesmoke;
  font-size: x-large;
}

.navButtonContainer {
  display: flex;
  justify-content: space-around;
}

.navButton {
  /* background-color: #ad7e0e; */
  background-color: #bca161;
  color: whitesmoke;
  width: 20vw;
  height: 5vh;
  margin: 5px;
  border: 0px;
  font-size: large;
}

.navButton:hover {
  opacity: 0.5;
}
