.beans {
  display: flex;
  flex-direction: row;
}

.beansCard {
  border: 0.5px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 300px;
  padding: 10px 5px;
  margin: 10px;
}

.beansDetail {
  border: 0.5px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.beansDetail span {
  font-weight: 600;
}

.addingBeans {
  border: 0.5px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
