.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 30px 30px 50px 30px;
}

.container h3 {
  font-weight: 600;
}

.container h5 {
  font-weight: 600;
}

.yourEquipment {
  text-align: center;
  margin-top: 30px;
}

.equipmentDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.addEquipment {
  text-align: center;
  margin-top: 30px;
}
